body {
  background: #e5e5e5;
}

.wrapper {
  width: 1010px;
  height: 100%;
  margin: 0 auto;

  background: #ffffff;
}

.spinner {
  display: block;
  margin: 0;

  position: absolute;
  top: 50%;
  left: 48%;
}
