body {
  background: #e5e5e5;
}

.app {
  text-align: center;
  min-height: 1147px;
  height: 100%;
  max-width: 1147px;
  min-width: 420px;
  margin: 0 auto;
  background-color: #f7f7f7;

  &__box {
    max-width: 1010px;
    min-width: 420px;
    min-height: 1147px;
    margin: 0 auto;
    background: #ffffff;
  }
}

.spinner {
  display: block;
  margin: 0;

  position: absolute;
  top: 50%;
  left: 48%;
}
